.div1 {
    background-color: chartreuse;
}
.div2 {
    background-color: magenta;
}
.div3 {
    background-color: chartreuse;
}
.container{
    border: 2px solid #000000;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
}

.item {
    background: blue;
    margin: 5px;
    text-align: center;
    color: aliceblue;
}
 .flex {
    display: flex;
    flex-direction: column-reverse;
 }

 .flex > div > img {
    height: 50px;
    width: 50px;
 }

 .div-coluna{
    height: 100px;
    width: 100px;
    background-color: aqua;
 }

 .secao{
    display: flex;
    flex-direction: row;
    height: 100;
    gap: 10px;
 
    
    background-color: brown;
    flex-wrap: wrap;
 }

 .secao-imagem {
    height: 100px;
    width: 100px;
 }
 
 .alinhar-esquerda{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
 }
 .alinhar-centro{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .alinhar-direita{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}
.alinhar-entre{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.alinhar-redor{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.alinhar-coluna{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   background-color: indigo;
}
.alinhar-itens-centro{
   display: flex;
   flex-direction: row;
   height: 200px;
   align-items: center;
   justify-content: space-between;
}